.hero{
    margin-top: 234px;
    margin-left: 90px;
    margin-bottom: 256px;
}

.hero__item{
    list-style: none;
    display: flex;
}

.hero__item--img{
    width: 270px;
height: 554px;
left: 109px;
gap: 0px;
border-radius: 44px 0px 0px 0px;
opacity: 0px;

}

.hero__item--name{
    width: 137px;
height: 20px;
top: 0.25px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #3D55F9;
}

.hero__item--title{
    width: 400px;
height: 94px;
top: 40.25px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 40px;
font-weight: 400;
line-height: 46.67px;
text-align: left;
color: #071330;
}

.hero__item--title1{
    width: 412px;
height: 94px;
top: 40.25px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 40px;
font-weight: 400;
line-height: 46.67px;
text-align: left;
color: #071330;
}


.hero__item--text{
    width: 417px;
height: 97px;
top: 7px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 32.04px;
text-align: left;
color: #071330;
}

.hero__item--text1{
    margin-top: 31px;
    width: 437px;
height: 97px;
top: 7px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 32.04px;
text-align: left;
color: #071330;
}

.hero__item--list{
 
    justify-content: space-between;
    width: 55%;
}